/* @import 'swiper/swiper-bundle.min.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

.toastBody {
  /* font-family: "Sora", Arial, Helvetica, sans-serif; */
  color: rgb(0, 0, 0);
  font-size: 1rem !important;
  font-weight: bolder;
}